In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [2]:
spark = SparkSession.builder.master("local").appName("FirstApp").getOrCreate()

In [3]:
# defining the schema for your DataFrame

myschema = StructType([
    StructField("userID",IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("friends", IntegerType(), True)
])

In [4]:
# creating a dataframe on a csv file
people = spark.read.csv("fakefriends.csv",schema=myschema)

In [6]:
# performing the transformations
output = people.select(people.userID, people.name, people.age,people.friends)\
               .where(people.age < 30).withColumn('insert_ts', func.current_timestamp())\
               .orderBy(people.userID)

In [7]:
output.show()

+------+--------+---+-------+--------------------+
|userID|    name|age|friends|           insert_ts|
+------+--------+---+-------+--------------------+
|     1|Jean-Luc| 26|      2|2025-04-04 17:30:...|
|     9|    Hugh| 27|    181|2025-04-04 17:30:...|
|    16|  Weyoun| 22|    323|2025-04-04 17:30:...|
|    21|   Miles| 19|    268|2025-04-04 17:30:...|
|    24|  Julian| 25|      1|2025-04-04 17:30:...|
|    25|     Ben| 21|    445|2025-04-04 17:30:...|
|    26|  Julian| 22|    100|2025-04-04 17:30:...|
|    32|     Nog| 26|    281|2025-04-04 17:30:...|
|    35| Beverly| 27|    305|2025-04-04 17:30:...|
|    46|    Morn| 25|     96|2025-04-04 17:30:...|
|    47|   Brunt| 24|     49|2025-04-04 17:30:...|
|    48|     Nog| 20|      1|2025-04-04 17:30:...|
|    52| Beverly| 19|    269|2025-04-04 17:30:...|
|    54|   Brunt| 19|      5|2025-04-04 17:30:...|
|    60|  Geordi| 20|    100|2025-04-04 17:30:...|
|    66|  Geordi| 21|    477|2025-04-04 17:30:...|
|    72|  Kasidy| 22|    179|2025-04-04 17:30:...|
|    73|   Brunt| 20|    384|2025-04-04 17:30:...|
|    84|     Ben| 28|    311|2025-04-04 17:30:...|
|    89|    Worf| 24|    492|2025-04-04 17:30:...|
+------+--------+---+-------+--------------------+
only showing top 20 rows

In [8]:
output.count()

112

In [ ]:
# creating a temporary view
output.createOrReplaceTempView("peoples")
spark.sql("select name,age,friends,insert_ts from peoples").show()

In [10]:
# creating another temporary view
people.createOrReplaceTempView("people_sql")

In [15]:
output.createOrReplaceTempView("peoples")  # Ensure insert_ts is included

In [17]:
peoples = output.createOrReplaceTempView("peoples")

In [16]:
spark.sql?

Signature:
spark.sql(
    sqlQuery: str,
    args: Union[Dict[str, Any], List, NoneType] = None,
    **kwargs: Any,
) -> pyspark.sql.dataframe.DataFrame
Docstring:
Returns a :class:`DataFrame` representing the result of the given query.
When ``kwargs`` is specified, this method formats the given string by using the Python
standard formatter. The method binds named parameters to SQL literals or
positional parameters from `args`. It doesn't support named and positional parameters
in the same SQL query.

.. versionadded:: 2.0.0

.. versionchanged:: 3.4.0
    Supports Spark Connect and parameterized SQL.

.. versionchanged:: 3.5.0
    Added positional parameters.

Parameters
----------
sqlQuery : str
    SQL query string.
args : dict or list
    A dictionary of parameter names to Python objects or a list of Python objects
    that can be converted to SQL literal expressions. See
    <a href="https://spark.apache.org/docs/latest/sql-ref-datatypes.html">
    Supported Data Types</a> for supported value types in Python.
    For example, dictionary keys: "rank", "name", "birthdate";
    dictionary or list values: 1, "Steven", datetime.date(2023, 4, 2).
    A value can be also a `Column` of literal expression, in that case it is taken as is.

    .. versionadded:: 3.4.0

kwargs : dict
    Other variables that the user wants to set that can be referenced in the query

    .. versionchanged:: 3.3.0
       Added optional argument ``kwargs`` to specify the mapping of variables in the query.
       This feature is experimental and unstable.

Returns
-------
:class:`DataFrame`

Examples
--------
Executing a SQL query.

>>> spark.sql("SELECT * FROM range(10) where id > 7").show()
+---+
| id|
+---+
|  8|
|  9|
+---+

Executing a SQL query with variables as Python formatter standard.

>>> spark.sql(
...     "SELECT * FROM range(10) WHERE id > {bound1} AND id < {bound2}", bound1=7, bound2=9
... ).show()
+---+
| id|
+---+
|  8|
+---+

>>> mydf = spark.range(10)
>>> spark.sql(
...     "SELECT {col} FROM {mydf} WHERE id IN {x}",
...     col=mydf.id, mydf=mydf, x=tuple(range(4))).show()
+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
+---+

>>> spark.sql('''
...   SELECT m1.a, m2.b
...   FROM {table1} m1 INNER JOIN {table2} m2
...   ON m1.key = m2.key
...   ORDER BY m1.a, m2.b''',
...   table1=spark.createDataFrame([(1, "a"), (2, "b")], ["a", "key"]),
...   table2=spark.createDataFrame([(3, "a"), (4, "b"), (5, "b")], ["b", "key"])).show()
+---+---+
|  a|  b|
+---+---+
|  1|  3|
|  2|  4|
|  2|  5|
+---+---+

Also, it is possible to query using class:`Column` from :class:`DataFrame`.

>>> mydf = spark.createDataFrame([(1, 4), (2, 4), (3, 6)], ["A", "B"])
>>> spark.sql("SELECT {df.A}, {df[B]} FROM {df}", df=mydf).show()
+---+---+
|  A|  B|
+---+---+
|  1|  4|
|  2|  4|
|  3|  6|
+---+---+

And substitude named parameters with the `:` prefix by SQL literals.

>>> spark.sql("SELECT * FROM {df} WHERE {df[B]} > :minB", {"minB" : 5}, df=mydf).show()
+---+---+
|  A|  B|
+---+---+
|  3|  6|
+---+---+

Or positional parameters marked by `?` in the SQL query by SQL literals.

>>> spark.sql(
...   "SELECT * FROM {df} WHERE {df[B]} > ? and ? < {df[A]}",
...   args=[5, 2], df=mydf).show()
+---+---+
|  A|  B|
+---+---+
|  3|  6|
+---+---+
File:      c:\users\blais\documents\data_engineering\venv\lib\site-packages\pyspark\sql\session.py
Type:      method

In [24]:
mydf = spark.range(10)

In [26]:
mydf.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [28]:
print(spark.catalog.listTables())

Py4JError: An error occurred while calling o126.namespace. Trace:
py4j.Py4JException: Method namespace([]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [29]:
spark.stop()