In [1]:
from pyspark.sql import SparkSession

In [2]:
!pip show pyspark

Name: pyspark
Version: 3.3.2
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\blais\Documents\data_engineering\venv\Lib\site-packages
Requires: py4j
Required-by:

In [3]:
from pyspark.sql.functions import col,desc

In [4]:
spark = SparkSession.builder\
        .master("local[*]")\
        .appName("sparksql")\
        .getOrCreate()

In [5]:
data = spark.read.csv("operations_management.csv",inferSchema=True,header=True)

In [6]:
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [7]:
data_2 = data.select("industry","value").filter(col("value")>10000).orderBy(desc("value"))

In [8]:
data_2.show()

+--------+-----+
|industry|value|
+--------+-----+
|   total|41091|
|   total|40431|
|   total|33984|
|   total|33750|
|   total|32652|
|   total|31134|
|   total|30624|
|   total|30543|
|   total|30396|
|   total|30099|
|   total|29994|
|   total|29775|
|   total|28473|
|   total|27846|
|   total|26010|
|   total|25977|
|   total|25887|
|   total|25500|
|   total|25434|
|   total|25221|
+--------+-----+
only showing top 20 rows

In [9]:
data_2.printSchema()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

In [10]:
data_3 = data.select("industry","value").filter((col("value") > 200) & (col("industry") != "total"))\
                                        .orderBy(desc("value"))

In [11]:
data_3.show()

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
|        Construction| 4959|
|Accommodation & f...| 4950|
|        Construction| 4686|
|        Construction| 4668|
|        Construction| 4665|
|       Manufacturing| 4662|
|       Manufacturing| 4632|
|        Construction| 4575|
|        Construction| 4566|
|Professional, sci...| 4476|
|Professional, sci...| 4470|
|        Retail trade| 4434|
|        Retail trade| 4434|
|Accommodation & f...| 4251|
|Accommodation & f...| 4176|
+--------------------+-----+
only showing top 20 rows

In [12]:
data.createOrReplaceTempView("data_view")

In [14]:
spark.sql("""
          SELECT industry,value FROM data_view WHERE value > 200 AND industry !="total"
          """).show()

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|Agriculture, fore...| 2364|
|         Agriculture| 1683|
|Agriculture, fore...|  528|
|       Manufacturing| 1971|
|Food, beverage, &...|  588|
|       Metal product|  246|
|Transport and ind...|  285|
|        Construction| 2685|
|     Wholesale trade| 1287|
|Machinery & equip...|  264|
|Other wholesale t...| 1023|
|        Retail trade| 1848|
|Accommodation & f...| 1887|
|Transport, postal...|  603|
|Financial & insur...|  312|
|           Auxiliary|  204|
|Rental, hiring, &...|  387|
|Professional, sci...| 1992|
|Computer systems ...|  408|
|Other professiona...| 1587|
+--------------------+-----+
only showing top 20 rows

In [15]:
spark.stop()